.loadingRing {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.loadingRing:after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 6px solid var(--dark);
  border-color: var(--dark) transparent var(--dark) transparent;
  animation: loadingRing 1.2s linear infinite;
}
@keyframes loadingRing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
